
.footer {
    width: 100%;
    background-color: #fff;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .7rem;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    flex-direction: column;
}

.footerHeader {
    font-size: 1.8rem;
    font-weight: 600;
}

.footer p {
    font-size: 1rem;
    color: rgb(101, 101, 101);
}

.footer p a {
    text-decoration: underline;
}


/* Mobile */
@media (max-width: 575px) {

    .footer {
        height: 25vh;
    }

    .footerHeader {
        font-size: 1.8rem;
        width: 90%;
        text-align: center;
    }
    
    .footer p {
        font-size: .8rem;
        width: 90%;
        text-align: center;
    }
}