.sidebar {
    color: black;
    background: var(--sidebar-bg-color);;
}

.sideBarItem svg{
    color: black;
}
.sideBarItem span {
    color: black;
}

.userInfo_box {
    padding: 1rem 0;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .7rem;
}

.userLetter {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--fog);
    box-sizing: border-box;
    overflow: hidden;
}

.userAvatar {
    width: 100%;
    height: 100%;
}

.userInfo_subContainer {
    flex: 1;
}

.user_name {
    color: black;
    overflow-wrap: anywhere;
    font-size: 14px;
}

.user_email {
    color: rgb(153, 153, 153);
    font-size: 10px;
    overflow-wrap: anywhere;
}

.sidebar_menu {
    padding: 1.5rem .5rem;
    gap: .7rem;
}

.navBtn {
    background-color: transparent;
    transition: all 0.3s ease-in;
}

.navBtn:hover {
    background-color: var(--fog-light-bg);
    transition: all 0.3s ease-in;
}

.logOutBar {
    color: black;
    /* border: 1px solid var(--blue-color); */
}

.logOutBar:hover {
    color: black;
}

.createNewProject {
    color: white;
    width: 100%;
    padding: .5rem 0;
    padding-left: .8rem;
    background-color: var(--fog);
    border-radius: 0 10px 10px 0;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.createNewProject:hover {
    background-color: var(--fog-darker);
}