
.authForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.authForm_field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: .8rem;
    align-items: center;
}

.formInput {
    padding: .7rem;
    width: 85%;
    border-radius: 8px;
    background-color: #1f2b459f;
    color: white;
    font-size: 14px;
    outline: none;
}

.passwordIcon {
    color: #2f3d5af4;
    font-size: 28px;
    cursor: pointer;
}

.formBtn {
    padding: .7rem;
    width: 85%;
    border-radius: 10px;
    color: black;
    font-size: 14px;
    outline: none;
    background-color: #4AA0C4;
}

.textError {
    color: rgba(252, 100, 100, 0.721);
    font-size: 14px;
}
