.heroWrapper {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.heroBodyWrapper {
    width: 100%;
    display: flex;
    flex: 1 1 auto;
    box-sizing: border-box;
    /* border: 1px solid white; */
}

.heroBody_subWrapper {
    width: 50%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.4rem;
    box-sizing: border-box;
}


.heroWord {
    font-size: 3.7rem;
    line-height: 110%;
    font-weight: 700;
}

.heroWord > span {
    background-color: #D9D9D9;
    padding: 0 .5rem;
    color: #2E1A05;
    font-weight: 800;
    /* margin-left: 16px; */
}

.herotagline {
    font-size: 1.16rem;
    font-weight: 500;
    opacity: .8;
    max-width: 96%;
}

.fomoContainer {
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.fomo_wrapper {
    font-size: 14.8px;
    display: flex;
    align-items: center;
    gap: 4.8px;
}

.fomo_wrapper > .gift, .fomo_wrapper > p > span {
    color: hsl(91 100% 33%)
}


@keyframes slow-blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .4;
    }
  }


.fomo_wrapper > .gift {
    animation: slow-blink 3s infinite;
}


/* Tab */
@media (max-width: 992px) {

    .heroWord {
        max-width: 90%;
    }

    .herotagline {
        max-width: 85%;
    }
}




/* Mobile */
@media (max-width: 575px) {
    .heroWrapper {
        margin-bottom: -11.5rem;
    }

    .heroWord {
        font-size: 10.5vw;
        line-height: 110%;
        max-width: 98%;
        text-align: center;
    }


    .herotagline {
        font-size: 4.3vw;
        max-width: 90%;
        text-align: center;
    }

}