.carouselWrapper {
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.carousel {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 2rem 1rem;
}

.carouselContent {
    width: 100%;
    height: 100%;
    flex: 1;
}

.carouselItem {
    width: 100%;
    height: 100%;
}


.card {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.cardContent {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    overflow: hidden;
    padding: 0 1rem;
    position: relative;
}


.authImage {
    width: 100%;
    height: 100%;
    flex: 1;
    border-radius: 15px;
    object-fit: cover;
}

.card_overlay {
    width: 95%;
    height: 100%;
    top: 0;
    left: 50%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.136);
    position: absolute;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.overlay-top {
    height: max-content;
    padding: 1.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
}

.backToSiteBtn {
    width: max-content;
    padding: .3rem .8rem;
    padding-right: .3rem;
    border-radius: 17px;
    background-color: #fff;
    font-size: 11px;
    color: black;
    background-color: rgba(255, 255, 255, 0.656);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.backToSiteBtn:hover {
    background-color: rgba(255, 255, 255, 0.856);
}

.rightIcon {
    font-size: 10px;
}

.overlay-bottom {
    white-space: pre-line;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
    font-size: 23px;
    width: 100%;
}


.overlay-bottom.dark {
    background-color: rgba(0, 0, 0, 0.436);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}