.no-close-button button[data-state="open"] {
    display: none !important;
  }

  .newProjectBtn {
    background-color: var(--fog);
  }

  .newProjectBtn:hover {
      background-color: var(--fog-darker);
  }
  